:host ::ng-deep .dashboard-table {
  .p-datatable .p-datatable-thead > tr > th {
    background-color: white;
    min-width: 148px;
    color: #02577a;
  }
  .p-datatable .p-datatable-tbody > tr {
    background: #f6f6f6 0% 0% no-repeat padding-box;
  }
  .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background: #fcfcfc !important;
  }
  .p-datatable .p-datatable-header {
    background: white;
    border: none;
    color: #495057;

    font-weight: 600;
    padding: 16px 0px 16px 0px;
  }
  .p-button {
    /* color: #ffffff; */
    background: transparent;
    border: white;
    border-radius: 50px;
  }

  .p-paginator {
    display: block !important;
    text-align: end;
    padding: 8px 0px 8px 0px;
    .p-paginator-current {
      float: left;
    }
    .p-paginator-last {
      display: none;
    }
    .p-paginator-first {
      display: none;
    }
  }

  .p-overlaypanel > .overlayPanel {
    margin: 0px 0px 10px 0px;
  }
}

.menu-custom {
  z-index: 1001;
  transform-origin: center top;
  top: 52.984px;
  left: 1056px;
}
.search-input {
  width: 394px;
}
.cursor {
  cursor: pointer;
}
.reasonButton {
  background-color: #ececec !important;
  color: #000 !important;
}
.m-r-20 {
  margin-right: 20px;
}
.d-text {
  text-align: left;
  font: normal normal normal 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #02577a;
  opacity: 1;
}
.m-t-14 {
  margin-top: 14px;
}
.form-container {
  padding: 22px 20px 0px 20px;
}
.p-overlaypanel {
  box-shadow: none !important;
}
.overlayPanel {
  padding: 0px 0px 10px 0px;
  label {
    margin-left: 10px;
  }
}
.p-button:focus {
  box-shadow: none;
}
